@font-face {
    font-family: "limon";
    src: url(../fuente/limon.ttf);
}

*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #ad4646;
}

nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

nav ul li a:hover{
    color:#b67575cc;
}

/*Main*/
.banner{
    background-color: #ad4646;
    background-image: url("../img/lemon-pie\ 1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter:opacity(0.8);
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.home{
    font-family:"limon";
    font-size: 150px;
    color:#ff4747fa;
}

.info{
    color:rgb(3, 0, 0);
    font-size: 20px;
    font-weight: 600;
    padding: 1.5rem;
    text-align: right;
}

.detalle{
    display: flex;
    justify-content: center;
}

.ingredientes{
    background-color: #ff4747ce;
    color: #fff;
    line-height: 40px;
    padding: 40px 90px;
    margin: 10px;
    width: 50vw;
    border-radius: 10%;
}

.ingredientes>h2, .instrucciones>h2{
    text-align: center;
    margin-bottom: 20px;
}

.ingredientes h3{
    text-indent: -30px;
}

.instrucciones{
    padding: 40px;
    margin: 10px;
    width: 50vw;
    line-height: 35px;
}

.fa-shopping-basket{
    color:#ff4747fa;
}

h2{
    font-size: 30px;
    font-weight: 700;
}

h3{
    font-style: italic;
}

/*Footer*/
footer{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 10px;
    color: #ad4646;
    font-weight: 900;
}