/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: 'Roboto-Regular';
}

a{
    text-decoration: none;
    color: #ffffff;
}

/*Header*/
.descuento{
    background-color: #1cd1b0;
    padding: 12px;
    font-size: 20px;
}
header{
    background: #00669f;
    font-size: 25px;
    padding: 30px;
    height: 130px;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center; /*Centra eje Y*/
}

/*Main*/

.container-card{
    display: flex;
    justify-content: space-around;
    padding: 150px 20px;
}

.card, .card2{
    height: 530px;
    width: 300px;
    position: relative;
    background-color: #F3F3F3;
}

.card-img{ /*Batman*/
    background-image: url(../img/bgbatman.svg);
    background-repeat: no-repeat;
    height: 200px;
}

.card2 .card-img{ /*HQ*/
    background-image: url(../img/bgq.svg);
    background-repeat: no-repeat;
    height: 200px;
}

.fa-heart{ /*Corazoncito*/
    color:#CC2424;
    padding: 20px;
    font-size: 40px;
}

.card-text{
    padding: 50px 10px;
}

.card-text h4{
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.card-text>img{
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 130px;
}

.card-button{
    background-color: #00669f;
    width: 120px;
    margin: 0px auto; /*centrado boton*/
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Footer*/

footer{
    height: 50px;
    background: #00669f;
    color:#ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight:lighter;
}