/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: 'Roboto-Regular';
}

a{
    text-decoration: none;
    color: #ffffff;
}

/*Header*/
.descuento{
    background-color: #1cd1b0;
    padding: .5rem;
    font-size: 2rem;
}
h1{
    background: #00669f;
    color: #ffffff;
    font-size: 2.5rem;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
}

nav{
    background-color: #001D2D;
    color: #ffffff;
    width: 100%;
    font-size: 2rem;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 2rem;
}

nav ul li{
    list-style-type: none;
}

/*Main*/

.container-card{
    display: flex;
    justify-content:space-around;
    padding: 150px 20px;
}

.card1, .card2, .card3, .card4{
    height: 100%;
    width: 28rem;
    position: relative; /*para posicionar el avatar*/
    background-color: #F3F3F3;
    box-shadow: 0 10px 10px -3px #808080;
}

.card-img{
    border-start-end-radius: 20px;
	border-start-start-radius: 20px;
    height: 17rem;
}

.card1 .card-img{ /*Bg Batman*/
    background-image: url(../img/bgbatman.svg);
}

.card2 .card-img{ /*Bg Mujer maravilla*/
    background-image: url(../img/fondo-maravilla.svg);
}

.card3 .card-img{ /*Bg Superman*/
    background-image: url(../img/fondo-superman.svg);
}

.card4 .card-img{ /*Bg Harley Quinn*/
    background-image: url(../img/fondo.quinn.svg);
}

.fa-heart{ /*Corazoncito*/
    color:#CC2424;
    padding: 20px;
    font-size: 4rem;
}

.card-text{ /*Contiene texto y boton*/
    padding: 50px 10px;
    text-align: justify;
    font-size: 1.5rem;
}

.card-text h4{ /*Nombre Superheroe*/
    font-size: 2.6rem;
    text-align: center;
    margin: 1rem;
}

.card-text>img{ /*Avatares*/
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80px;
    top: 100px;
}

.card-button{
    background-color: #00669f;
    width: 120px;
    margin: 2rem auto; /*centrado boton*/
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.5rem;
}

.card-button:hover{
    background-color: #F3F3F3;
    border: 1px solid #1cd1b0;
}

a:hover{
    color:#1cd1b0;
}

.fa-plus-circle{
    position: absolute;
    top: 830px;
    right: 10px;
    color: #00669f;
    font-size: 4.5rem;
    display: none;
}

/*Footer*/

footer{
    height: 50px;
    width: 100%;
    background: #00669f;
    color:#ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.6rem;
}

/*Responsive*/

@media screen and (max-width: 768px){ /*Estilo tablet*/
    .container-card{
        flex-wrap: wrap;
        padding: unset;
        margin: 3rem;
        width: 700px;
    }
    
    .card1, .card2, .card3, .card4{
        margin: 3rem;
    }

    .fa-plus-circle{
        display: unset;
    }
}

@media screen and (max-width: 480px){ /*Estilos Mobile*/
    .descuento{
        font-size: 1.4rem;
    }
    header{
        font-size: 1.6rem;
        height: 8rem;
    }
    .container-card{
        flex-direction: column;
        padding: 0px;
        margin: 10px;
        width: 100vw;
        align-items: center;
    }

    .card1, .card2, .card3, .card4{
        margin: 4rem auto;
    }

    .fa-plus-circle{
        display: unset;
        right: 25px;
        top:770px;
    }

    footer{
        font-size: 1.3rem;
    }
}

/* Pagina Login*/

.main-login, .main-singup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login, .singup{
    height: 60vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction:column;
}

.login h2, .singup h2{
    font-size: 3.5rem;
    margin: 2.5rem 0rem;
    color: #333333;
}

form{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    
}

.input-email, .input-pass, .input-nombre, .input-pais{
    margin: 1rem 0rem;
    padding: 1rem;
}

.email, .pass, .nombre, .pais, .mensaje{
    display: none;
}

.entrar{
    margin: 3rem 0rem;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid #1CD1B0;
    background-color: #1CD1B0;
    font-weight: 700;
}

.sin-cuenta{
    color: #808080;
    text-align: center;
    font-size: 1.7rem;
}

.sin-cuenta span{
    color: #00669F;
}

/*Página Registro*/

.botones{
    display:inline-flex;
}

.resetear, .registrar{
    border-radius: 12px;
    font-weight: 500;
    padding: .6rem;
    margin: 2rem .5rem;
    width:20vw;
}

.resetear{
    background-color: #888;
    border: 1px solid #888;
    color: #ffffff;
}

.registrar{
    background-color: #1CD1B0;
    border: 1px solid #1CD1B0;
}

.ingresa{
    color: #00669F;
    text-align: center;
    font-size: 1.5rem;
}

.ingresa span{
    color: #222222;
}

/*Página de Contacto*/

textarea{
    resize: none;
}