/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul li a{
    text-decoration: none;
    color: inherit;
}

ul li{
    list-style-type: none;
}

/* Header */
header{
    background-color: #062f5b;
}

nav ul{
    display: flex;
}

nav ul li a{
    padding: 20px 10px;
    display: inline-block;
    color: #fff;
}

/* Main */

/* Banner */
.banner{
    background-image: url("../img/bg-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-weight: 500px;
}

h2{
    font-size: 2rem;
    text-align: center;
    padding: 50px;
}

/* Tarjetas */

.card{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: 30px auto;
    gap: 20px;
}

.card1, .card2, .card3{
    border-radius: 20px;
    padding: 20px; 
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px #ccc;
    margin: 20px 10px;
    width:300px;
}

.card1>h3, .card2>h3, .card3>h3{
    color: #679dd6;
    font-size: 1.5rem;
    margin: 20px 0;
}

.card1 img, .card2 img, .card3 img{
    max-width: 100%;
}

/* Contacto*/

.contacto{ 
    text-align: right;
    order: 1;
}  
.contacto>p{
    line-height: 2;
    color: #5d596b;
} 
.contacto>p>span{
    font-weight: bold;
}

#contacto{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    width: 35vw;
    color: #fff; 
    background-color: #062f5b;
    padding: 40px 40px 10px;
    margin-bottom: 20px;
}

form input{
    margin-bottom: 30px;
    margin-top: 20px;
}

input{
    border-radius: 20px;
    outline: none;
    padding: 8px;
}

input[type="submit"]{
    background-color: #062f5b;
    border: 2px solid #fff;
    color: #fff;

}

/* Footer */
footer {
    background-color: #062f5b;  
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #fff;
}

footer h4 {
    color: #fff;
    margin-bottom: 20px;
}

footer ul {
    line-height: 2.5; 
} 
.news-letter {
    position: relative;
}

.news-letter>input[type="text"] {
    width: 100%;
}

.news-letter>input[type="submit"] {
    position: absolute;
    width: 100px;
    right: 0;
}