/*Estilos generales*/

body{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

/*Header*/

header{
    background-color:#E5E5E5;
    text-align: center; /*centra el h1 y la img*/
}

.foto-perfil{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 35px;
    padding: .5rem;
    font-weight: bold;
}

/*Main*/

.container{
    margin: 8rem auto;
    max-width: 70%;
}

h1, h2{
    background-color: #C4C4C4;
    color:#005677;
    letter-spacing: 10px;    
    text-transform: uppercase;
}

h2{
    padding-left: 10px;
}

ul>li>span{
    font-weight: 700;
    font-style: italic;
}

ul, dl{
    margin:1.5rem;
}

ul>li, dl>dt{
    margin: .5rem;
}

span{
    font-weight: 700; /*Negrita*/
}

.margen-izquierdo, .detalle{
    margin-left: 75px;
}

/*Footer*/

footer{
    background-color:#005677;
    text-align: center;
    color:#F5E8D6;
    letter-spacing: 5px;
    text-transform: uppercase;
}

a{
    color: #F5E8D6;
    text-decoration: none;
}