*{
    margin: 0%;
}

header{
    background-color:#e5e5e5;
}

.foto-perfil{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

h1{
    font-size: 35px;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

.info-personal{
    margin: 8rem auto;
    width: 70%;
}

h1, h2{
    background-color: #c4c4c4;
    color:#005677;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;    
    text-transform: uppercase;
}

h2{
    padding-left: 10px;
}

ul>li>span{
    font-weight: bold;
    font-style: italic;
}

ul, dl{
    margin:1.5rem;
}

ul>li, dl>dt{
    margin: .5rem;
}

span{
    font-weight: bold;
}

.margen-izquierdo, .detalle{
    margin-left:5rem;
}

footer{
    background-color:#005677;
    text-align: center;
    display: block;
    color:#f5e8d6;
}
